<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wvu.tsmith.logmylift">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lift.AddLiftToWorkoutActivity"
            android:label="@string/title_activity_add_lift_to_workout"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.Start" />
        </activity>
        <activity
            android:name=".lift.AddLift"
            android:label="@string/title_add_lift"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.Start" />
        </activity>
        <activity
            android:name=".exercise.ExerciseListActivity"
            android:label="@string/title_exercise_list"
            android:theme="@style/AppTheme.NoActionBar" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.Start" />
        <activity
            android:name=".exercise.ExerciseDetailActivity"
            android:label="@string/title_exercise_detail"
            android:parentActivityName=".exercise.ExerciseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.exercise.ExerciseListActivity" />
        </activity>
        <activity
            android:name=".workout.WorkoutListActivity"
            android:label="@string/title_workout_list"
            android:parentActivityName=".Start"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.Start" />
        </activity>
        <activity
            android:name=".workout.WorkoutDetailActivity"
            android:label="@string/title_workout_detail"
            android:parentActivityName=".workout.WorkoutListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wvu.tsmith.logmylift.workout.WorkoutListActivity" />
        </activity>
    </application>

</manifest>